/* BLOCK #RESET */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,
body{
    display: grid;
    height: 100%;
    place-items: center;
    background: var(--bg-oxford-blue-2);
}
::selection{
    background: var(--selection);
}